@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";
body{
	padding: 0;
	margin: 0;
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/singup1.JPG ) no-repeat;
	background-size: cover;
	background-position: center;
}
.login-box{
	width: 380px
	color: lightblue;
	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%,-50%);
	}

.login-box h1{
	float: left;
	font-size: 40px;
	border-bottom: 6px solid green;
	margin-bottom: 50px;
	padding: 13px 0;
	color: white
}
.textbox{
	width: 100%;
	overflow: hidden;
	font-size: 30px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid green;
}
.textbox i{
	widows: 26px;
	float: left;
	text-align: center;
	color: white;
}
.textbox input{
	border: none;
	outline: none;
	background: none;
	color: pink;
	font-size: 38px
	width: 80px;
	float: left;
	margin: 0 10px;
}
.btn{
	width: 100%;
	background: none;
	border: 2px solid green;
	color: white;
	padding: 6px;

}
.btn:hover{
	background-color: white;
	color: black;
}
