			
	    
        body{
            padding: 0;
            margin: 0;
            background-color: #fff;
        }
        ul{
          float: right;
          list-style-type: none;
          margin-top: 50px;
        }
        ul li{
          display: inline-block;
        }
        ul li a{
          text-decoration: none;
          color: white;
          padding: 8px 20px;
          border: 1px solid transparent;
          border-radius: 20px;
          transition: 0.5s ease;
        }
        ul li a:hover{
          background-color: rgb(87, 236, 87);
            color: black;
          }
          ul li.active a{
          background-color: rgb(87, 236, 87);
            color: black;
        }
        .container{
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100vh;
				animation: animate 16s ease-in-out infinite;
				background-size: cover;
			}

			.outer{
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100vh;
				background: rgba(0,0,0,0.5)
			}

			.details{
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				text-align: center;
			}

			.details h1{
				font-size: 4em;
				color: #fff;
			}

			.details h2{
				text-transform: capitalize;
				color: #fff;
            }
            .btn{
            	text-decoration: none;
            	color: white;
            	padding: 5px 30px;
 	            border: 1px solid transparent;
                transition: 0.5s ease;
 	            
            }
            .button a:hover{
            	background-color: purple;
                color: white;
            }


		@keyframes animate{
				0%,100%{
					background-image: url(slidephotos/a6.jpg);
				}
				/*	20%{
					background-image: url(slidephotos/a2.jpg);
				}
				40%{
					background-image: url(slidephotos/a3.jpg);
				}
				60%{
					background-image: url(slidephotos/a4.jpg);
				}
				80%{
					background-image: url(slidephotos/a5.jpg);
				}
				100%{
					background-image: url(slidephotos/a1.jpg);
        } */
    }
.logo{
 position: absolute;
 top: 0;
 left: 13%;
 
}
.logo img{
   width: 100%
  
 }
.social{
  width: 20%;
}


